<ul class="nav nav-tabs justify-content-center" id="nav1">
    <li class="nav-item">
        <a href="#ola" class="nav-link active" data-toggle="pill">Ola</a>
    </li>
    <li>
        <a href="#uber" class="nav-link"  data-toggle="pill">Uber</a>
    </li>
    <li>
        <a href="#meru" class="nav-link"  data-toggle="pill">Meru</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Dropdown</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
</ul>
<div class="tab-content">
    <div class="tab-pane container active" id="ola">
        <pre>
            <h1>OLA</h1>

            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </pre>
    </div>
    <div class="tab-pane container fade" id="uber">
        <pre>
            <h1>UBER</h1>

            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </pre>
    </div>
    <div class="tab-pane container fade" id="meru">
        <pre>
            <h1>MERU</h1>

            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </pre>
    </div>
</div>