<div>
    <hr>
    <h1>Fill the form</h1>
    <hr>
    <form action="/action.do">
        <div class="form-group">
            <label for="lblfirstname">First Name:</label>
            <input type="text" name="txtfirstname" id="firstname" class="form-control form-control-sm">
        </div>
        <div class="form-group">
            <label for="lbllastname">Last Name:</label>
            <input type="text" name="txtlastname" id="lastname" class="form-control">
        </div>
        <div class="form-group">
            <label for="lblpassword">Password:</label>
            <input type="password" name="txtpassword" id="password" class="form-control form-control-lg">
        </div>
        <div class="form-group">
            <label for="lbldescription">Description</label>
            <textarea name="txtareadescription" id="description" cols="30" rows="5" class="form-control"></textarea>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" name="chkoption1" id="option1" class="form-check-input">Option 1
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" name="chkoption2" id="option2" class="form-check-input">Option 2
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" name="chkoption3" id="option3" class="form-check-input">Option 3
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Male
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Female
            </label>
          </div>
          <div class="form-group">
            <label for="sel1">Select list:</label>
            <select class="form-control" id="sel1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div> 
          <div class="form-group">
            <input type="text" class="form-control-plaintext" placeholder="form control plain text">
            <input type="range" class="form-control-range">
            <input type="file" class="form-control-file border">  
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="username">
            <div class="input-group-append">
                <span class="input-group-text">@</span>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox">
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Some text">
          </div>
          
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio">
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Some text">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button class="btn btn-outline-primary" type="button">Basic Button</button>
            </div>
            <input type="text" class="form-control" placeholder="Some text">
          </div>
          
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-append">
              <button class="btn btn-success" type="submit">Go</button>
            </div>
          </div>
          
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Something clever..">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">OK</button>
              <button class="btn btn-danger" type="button">Cancel</button>
            </div>
          </div> 
          <div class="input-group mt-3 mb-3">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                Dropdown button
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Username">
          </div> 
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="chkbox">
            <label class="custom-control-label" for="chkbox">Male</label>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="tglswitch">
            <label class="custom-control-label" for="tglswitch">Male</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="rdomale">
            <label class="custom-control-label" for="rdomale">Male</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="customRadio1" name="example1">
            <label class="custom-control-label" for="customRadio1">Custom radio</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="customRadio2" name="example1">
            <label class="custom-control-label" for="customRadio2">Custom radio</label>
          </div>
          <div>
            <select name="cars" class="custom-select">
                <option selected>Custom Select Menu</option>
                <option value="volvo">Volvo</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
              </select>
          </div>
          <div>
            <label for="customRange">Custom range</label>
            <input type="range" class="custom-range" id="customRange" name="points1">
          </div>
          <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="cFile">
            <label class="custom-file-label" for="cFile">Choose file</label>
          </div>
    </form>
</div>