<button data-toggle="collapse" data-target="#x" class="btn btn-warning">collapse</button>
<div id="x" class="collapse"> 
    <pre>
        This is a collapsable paragraph
        This is a collapsable paragraph
        This is a collapsable paragraph
        This is a collapsable paragraph
        This is a collapsable paragraph
        This is a collapsable paragraph
    </pre>
</div>
<div id="y">
<div class="card">
    <div class="card-header text-dark">
        <a href="#" data-toggle="collapse" data-target="#a">Hello</a>  
    </div>
</div>
<div id="a" class="collapse"> 
    <pre>
        This is a collapsable paragraph
        This is a collapsable paragraph
        This is a collapsable paragraph
        This is a collapsable paragraph
        This is a collapsable paragraph
        This is a collapsable paragraph
    </pre>
</div>
<div class="card">
    <div class="card-header text-dark">
        <a href="#" data-toggle="collapse" data-target="#b">Hi</a>
    </div>
</div>
<div id="b" class="collapse"> 
    <pre>
        This is a collapsable paragraph
        This is a collapsable paragraph
        This is a collapsable paragraph
        This is a collapsable paragraph
        This is a collapsable paragraph
        This is a collapsable paragraph
    </pre>
</div>
<div class="card" data-toggle="collapse" data-target="#c">
    <div class="card-header text-dark">
        <a href="#">Hey</a>
    </div>
</div>
<div id="c" class="collapse" > 
    <pre>
        This is a collapsable paragraph
        This is a collapsable paragraph
        This is a collapsable paragraph
        This is a collapsable paragraph
        This is a collapsable paragraph
        This is a collapsable paragraph
    </pre>
</div>

</div>