<div class="container border p-3 my-3 bg-dark text-white">
    <div class="row">

      <div class="col-sm-12">
        <app-skyutilities></app-skyutilities>
      </div>
    </div>
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
        <app-skypagination></app-skypagination>
          <app-skytable></app-skytable>
          <app-skyprogressbar></app-skyprogressbar>
      </div>
    </div>
  <div class="row">
    <div class="col-sm-4">
      <app-skyimage></app-skyimage>
    </div>
    <div class="col-sm-4">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    </div>
    <div class="col-sm-4">
      <app-skybutton></app-skybutton>
    
    </div>
  </div>
  <div class="row">
      <div class="col-sm-4">
        <h3>Column 1</h3>
        <dl class="dl-horizontal">
            <dt>Abc</dt>
                <dd>
                  -xyz
                </dd>
                <dd>
                  -def
                </dd>
                <dd>
                  -mno
                </dd>
                <dt>Abc</dt>
        </dl>
      </div>
      <div class="col-sm-8">
        <h3><code>Column 2</code></h3>
        <p>Lorem ipsum dolor..<kbd>ctrl+p</kbd>Dabaiye</p>
      </div>
    </div>
    
</div>
<div class="container-fluid p-3 my-3 bg-warning text-white">
    <div class="row">
        <div class="col-sm-6">
          <h3 class="bg-primary text-justify text-lowercase">Column 1</h3>
          <p class="text-primary">Lorem ipsum dolor..</p>
        </div>
        <div class="col-sm-6">
          <h3 class="bg-success text-right text-uppercase">Column 2</h3>
          <p class="text-success">Lorem ipsum dolor..</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <h3 class="bg-info text-left text-capitalize">Column 1</h3>
          <p class="text-info">Lorem ipsum dolor..</p>
        </div>
        <div class="col-sm-3">
          <h3 class="bg-warning">Column 2</h3>
          <p class="text-warning">Lorem ipsum dolor..</p>
        </div>
        <div class="col-sm-3">
            <h3 class="bg-danger text-center">Column 2</h3>
            <p class="text-danger">Lorem ipsum dolor..</p>
          </div>
          <div class="col-sm-3">
            <app-skylistgroup></app-skylistgroup>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <app-skycard></app-skycard>
        </div>
        <div class="col-sm-2">
          <app-skydropdown></app-skydropdown>
        </div>
        <div class="col-sm-2">
            <h3>Column 2</h3><small> secondary text</small>
            <p>Lorem ipsum dolor..</p>
        </div>
        <div class="col-sm-2">
            <h3>Column 2</h3><small> secondary text</small>
            <p>Lorem ipsum dolor..</p>
        </div>
        <div class="col-sm-2">
            <h3>Column 2</h3><small> secondary text</small>
            <p>Lorem ipsum dolor..</p>
        </div>
      </div>
</div>