.border {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
  }
  .span1 {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
    background-color: #555;
  }
  .span2 {
    display: inline-block;
    width: 70px;
    height: 40px;
    margin: 1px;
    padding: 5px;
    background-color: rgb(204, 196, 196);
  }