<div class="container mt-3">
<span class="border"></span>
<span class="border border-0"></span>
<span class="border border-top-0"></span>
<span class="border border-left-0"></span>
<span class="border border-right-0"></span>
<span class="border border-bottom-0"></span>
<br>
<span class="border border-primary"></span>
<span class="border border-secondary"></span>
<span class="border border-success"></span>
<span class="border border-danger"></span>
<span class="border border-warning"></span>
<span class="border border-info"></span>
<span class="border border-light"></span>
<span class="border border-dark"></span>
<span class="border border-white"></span>
<br>
<span class="span1 rounded-sm"></span>
<span class="span1 rounded"></span>
<span class="span1 rounded-lg"></span>
<span class="span1 rounded-top"></span>
<span class="span1 rounded-right"></span>
<span class="span1 rounded-bottom"></span>
<span class="span1 rounded-left"></span>
<span class="span1 rounded-circle"></span>
<span class="span1 rounded-0"></span>
<br>
<div class="clearfix">
    <span class="float-left span2">Left</span>
    <span class="float-right span2">Right</span>
</div>
<div class="clearfix">
    <div class="float-sm-right">Float right on small screens or wider</div><br>
    <div class="float-md-right">Float right on medium screens or wider</div><br>
    <div class="float-lg-right">Float right on large screens or wider</div><br>
    <div class="float-xl-right">Float right on extra large screens or wider</div><br>
    <div class="float-none">Float none</div>
  </div>
  <div class="mx-auto bg-warning w-25 h-25" style="text-align: center;">
    center div center text
  </div>
  <div class="mx-auto bg-warning w-50  h-50" style="text-align: center;">
    center div center text
  </div>
  <div class="mx-auto bg-warning w-75  h-75" style="text-align: center;">
    center div center text
  </div>
  <div class="mx-auto bg-warning w-100  h-100" style="text-align: center;">
    center div center text
  </div>
  <div class="mx-auto bg-warning mw-75  mh-75" style="text-align: center;">
    center div center text
  </div>
  <div class="shadow-none p-4 mb-4 bg-light">No shadow</div>
<div class="shadow-sm p-4 mb-4 bg-white">Small shadow</div>
<div class="shadow p-4 mb-4 bg-white">Default shadow</div>
<div class="shadow-lg p-4 mb-4 bg-white">Large shadow</div>
<span class="align-baseline">baseline</span>
<span class="align-top">top</span>
<span class="align-middle">middle</span>
<span class="align-bottom">bottom</span>
<span class="align-text-top">text-top</span>
<span class="align-text-bottom">text-bottom</span>
<br>
<div class="mx-auto mt-3 w-25 h25">
<h2>Responsive Embed</h2>
  <p>Create a responsive video and scale it nicely to the parent element.</p>
  
  <h2>Aspect ratio 1:1</h2>
  <div class="embed-responsive embed-responsive-1by1">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
  </div>
  <br>
  
  <h2>Aspect ratio 4:3</h2>
  <div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
  </div> 
  <br>
  
  <h2>Aspect ratio 16:9</h2>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
  </div>
  <br>
    
  <h2>Aspect ratio 21:9</h2>
  <div class="embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
  </div>
</div>
<br>
<div>
<p class="text-primary">This text is important.</p>
  <p class="text-success">This text indicates success.</p>
  <p class="text-info">This text represents some information.</p>
  <p class="text-warning">This text represents a warning.</p>
  <p class="text-danger">This text represents danger.</p>
  <p class="text-secondary">Secondary text.</p>
  <p class="bg-danger text-white-50 font-weight-bold">This text is dark grey.</p>
  <p class="text-body">Default body color (often black).</p>
  <p class="text-light">This text is light grey (on white background).</p>
  <br>

  <i class="fas fa-cloud"></i>
  <i class="fas fa-coffee"></i>
  <i class="fas fa-car"></i>
  <i class="fas fa-file"></i>
  <i class="fas fa-bars"></i> 
</div>
  <div class="media border p-3 w-100 h-100">
    <img src="assets/images/img_avatar3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
    <div class="media-body">
      <h4>John Doe <small><i>Posted on February 19, 2016</i></small></h4>
      <p>Lorem ipsum...</p>
      <div class="media p-3">
        <img src="assets/images/img_avatar6.png" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:45px;">
        <div class="media-body">
          <h4>Jane Doe <small><i>Posted on February 20 2016</i></small></h4>
          <p>Lorem ipsum...</p>
        </div>
      </div> 
    </div>
  </div>
  <div>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody id="myTable">
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@mail.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@greatstuff.com</td>
          </tr>
          <tr>
            <td>Anja</td>
            <td>Ravendale</td>
            <td>a_r@test.com</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>