<app-skynav></app-skynav>
<app-skynavbar></app-skynavbar>
<app-skytoast></app-skytoast>
<app-skymodal></app-skymodal>
<app-skytooltip></app-skytooltip>
<app-skycarousel></app-skycarousel>
<app-skyform></app-skyform>
<app-skyforminput></app-skyforminput>
<div class="jumbotron text-center bg-info jumbotron-fluid">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
    <blockquote class="blockquote-reverse">
        <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
        <footer>From WWF's website</footer>
      </blockquote>
  </div>
  <app-skyheader></app-skyheader>
  <app-skycontainer></app-skycontainer>
  <app-skyspyscroll></app-skyspyscroll>