<div class="card" style="width:400px">
    <img class="card-img-top" src="assets/images/img_avatar1.png" alt="Card image">
    <div class="card-body">
      <h4 class="card-title text-dark">John Doe</h4>
      <p class="card-text text-dark">Some example text.</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <div class="card" style="width:400px">
    <img class="card-img-bottom " src="assets/images/img_avatar6.png" alt="Card image">
    <div class="card-body">
      <h4 class="card-title text-dark">John Doe</h4>
      <p class="card-text text-dark">Some example text.</p>
      <a href="#" class="btn btn-primary stretched-link">See Profile</a>
    </div>
  </div>
